# YFinance Tutorial: Pulling Free Financial Data

yfinance is a popular Python library that offers a reliable, fast, and easy way to fetch historical market data from Yahoo Finance. Whether you're a seasoned data analyst, a budding quant trader, or a finance enthusiast, yfinance is a tool you'll find indispensable. In this tutorial, we'll walk through the basics of using yfinance to pull financial data.

## Setting Up

Ensure you have `yfinance` installed. If not, install it using pip, inside a notebook cell:

```python
!pip install yfinance
```

* If you are installing from the terminal, use: `pip install yfinance`.
* If you followed the getting_started instructions, your python environment will already have it installed.

---
## Basic Usage of yfinance
### Importing the library

After installation, you can import yfinance in your Python script or notebook:

In [1]:
import yfinance as yf

### Getting Historical Data

To fetch historical market data for a specific stock, use the yf.Ticker class. For example, let's fetch data for Apple Inc:

In [3]:
apple = yf.Ticker("AAPL")
apple

yfinance.Ticker object <AAPL>

* You can get the historical market data using the history method. By default, it retrieves the last five days of stock data.
* We will now reference the object `apple` when extracting data.

In [14]:
# Get the last 5 days of historical data
hist = apple.history(period="5d")
hist

# Fetching Real-Time Data
# Note: Real-time data might be delayed due to limitations from Yahoo Finance

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-22 00:00:00-05:00,195.179993,195.410004,192.970001,193.600006,37122800,0.0,0.0
2023-12-26 00:00:00-05:00,193.610001,193.889999,192.830002,193.050003,28919300,0.0,0.0
2023-12-27 00:00:00-05:00,192.490005,193.500000,191.089996,193.149994,48087700,0.0,0.0
2023-12-28 00:00:00-05:00,194.139999,194.660004,193.169998,193.580002,34049900,0.0,0.0
2023-12-29 00:00:00-05:00,193.899994,194.399994,191.729996,192.529999,42628800,0.0,0.0

* To fetch data for a specific period, you can specify the period or start and end dates:

In [15]:
# Data for a specific period
hist_1m = apple.history(period="1mo")  # 1 month
hist_1year = apple.history(start="2020-01-01", end="2021-01-01")  # Specific date range, for each day

print('History: Monthly')
hist_1m.tail()

History: Monthly

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-22 00:00:00-05:00,195.179993,195.410004,192.970001,193.600006,37122800,0.0,0.0
2023-12-26 00:00:00-05:00,193.610001,193.889999,192.830002,193.050003,28919300,0.0,0.0
2023-12-27 00:00:00-05:00,192.490005,193.500000,191.089996,193.149994,48087700,0.0,0.0
2023-12-28 00:00:00-05:00,194.139999,194.660004,193.169998,193.580002,34049900,0.0,0.0
2023-12-29 00:00:00-05:00,193.899994,194.399994,191.729996,192.529999,42628800,0.0,0.0

In [16]:
print('History: Year - each day')
hist_1year

History: Year - each day

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02 00:00:00-05:00,72.151629,73.213546,71.895896,73.152657,135480400,0.0,0.0
2020-01-03 00:00:00-05:00,72.373271,73.208674,72.214960,72.441467,146322800,0.0,0.0
2020-01-06 00:00:00-05:00,71.554898,73.057647,71.301596,73.018677,118387200,0.0,0.0
2020-01-07 00:00:00-05:00,73.028425,73.286596,72.453631,72.675270,108872000,0.0,0.0
2020-01-08 00:00:00-05:00,72.375691,74.148793,72.375691,73.844345,132079200,0.0,0.0
...,...,...,...,...,...,...,...
2020-12-24 00:00:00-05:00,129.041004,131.143865,128.824821,129.679718,54930100,0.0,0.0
2020-12-28 00:00:00-05:00,131.664685,134.956539,131.193005,134.317825,124486200,0.0,0.0
2020-12-29 00:00:00-05:00,135.654209,136.381357,132.008588,132.529388,121047300,0.0,0.0
2020-12-30 00:00:00-05:00,133.227090,133.629978,131.084915,131.399368,96452100,0.0,0.0
2020-12-31 00:00:00-05:00,131.753114,132.401664,129.434070,130.387238,99116600,0.0,0.0

### Adjusting for Stock Splits
yfinance automatically adjusts historical data for stock splits. If you prefer unadjusted data, set auto_adjust to False:

In [17]:
hist_unadj = apple.history(period="1mo", auto_adjust=False)
hist_unadj

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2023-11-30 00:00:00-05:00,189.839996,190.320007,188.190002,189.949997,189.949997,48794400,0.0,0.0
2023-12-01 00:00:00-05:00,190.330002,191.559998,189.229996,191.240005,191.240005,45679300,0.0,0.0
2023-12-04 00:00:00-05:00,189.979996,190.050003,187.449997,189.429993,189.429993,43389500,0.0,0.0
2023-12-05 00:00:00-05:00,190.210007,194.399994,190.179993,193.419998,193.419998,66628400,0.0,0.0
2023-12-06 00:00:00-05:00,194.449997,194.759995,192.110001,192.320007,192.320007,41089700,0.0,0.0
2023-12-07 00:00:00-05:00,193.630005,195.000000,193.589996,194.270004,194.270004,47477700,0.0,0.0
2023-12-08 00:00:00-05:00,194.199997,195.990005,193.669998,195.710007,195.710007,53377300,0.0,0.0
2023-12-11 00:00:00-05:00,193.110001,193.490005,191.419998,193.179993,193.179993,60943700,0.0,0.0
2023-12-12 00:00:00-05:00,193.080002,194.720001,191.720001,194.710007,194.710007,52696900,0.0,0.0
2023-12-13 00:00:00-05:00,195.089996,198.000000,194.850006,197.960007,197.960007,70404200,0.0,0.0
2023-12-14 00:00:00-05:00,198.020004,199.619995,196.160004,198.110001,198.110001,66831600,0.0,0.0
2023-12-15 00:00:00-05:00,197.529999,198.399994,197.000000,197.570007,197.570007,128256700,0.0,0.0
2023-12-18 00:00:00-05:00,196.089996,196.630005,194.389999,195.889999,195.889999,55751900,0.0,0.0
2023-12-19 00:00:00-05:00,196.160004,196.949997,195.889999,196.940002,196.940002,40714100,0.0,0.0
2023-12-20 00:00:00-05:00,196.899994,197.679993,194.830002,194.830002,194.830002,52242800,0.0,0.0
2023-12-21 00:00:00-05:00,196.100006,197.080002,193.500000,194.679993,194.679993,46482500,0.0,0.0
2023-12-22 00:00:00-05:00,195.179993,195.410004,192.970001,193.600006,193.600006,37122800,0.0,0.0
2023-12-26 00:00:00-05:00,193.610001,193.889999,192.830002,193.050003,193.050003,28919300,0.0,0.0
2023-12-27 00:00:00-05:00,192.490005,193.500000,191.089996,193.149994,193.149994,48087700,0.0,0.0
2023-12-28 00:00:00-05:00,194.139999,194.660004,193.169998,193.580002,193.580002,34049900,0.0,0.0
2023-12-29 00:00:00-05:00,193.899994,194.399994,191.729996,192.529999,192.529999,42628800,0.0,0.0

### Including Dividends and Stock Splits
To include dividend and stock split data, set actions to True:

In [18]:
hist_adj = apple.history(period="5y", actions=True)
hist_adj

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-12-31 00:00:00-05:00,38.039708,38.238870,37.547804,37.850147,140014000,0.0,0.0
2019-01-02 00:00:00-05:00,37.166273,38.116488,37.007904,37.893330,148158800,0.0,0.0
2019-01-03 00:00:00-05:00,34.548383,34.965902,34.073278,34.118870,365248800,0.0,0.0
2019-01-04 00:00:00-05:00,34.680375,35.644986,34.505210,35.575397,234428400,0.0,0.0
2019-01-07 00:00:00-05:00,35.680973,35.712168,35.009104,35.496208,219111200,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,195.179993,195.410004,192.970001,193.600006,37122800,0.0,0.0
2023-12-26 00:00:00-05:00,193.610001,193.889999,192.830002,193.050003,28919300,0.0,0.0
2023-12-27 00:00:00-05:00,192.490005,193.500000,191.089996,193.149994,48087700,0.0,0.0
2023-12-28 00:00:00-05:00,194.139999,194.660004,193.169998,193.580002,34049900,0.0,0.0
2023-12-29 00:00:00-05:00,193.899994,194.399994,191.729996,192.529999,42628800,0.0,0.0

---
## Advanced Usage

### Fetching Data for Multiple Stocks

To fetch data for multiple stocks, pass a list of ticker symbols to yf.download:

In [19]:
data = yf.download("AAPL MSFT GOOG", start="2020-01-01", end="2021-01-01")
data

[*********************100%%**********************]  3 of 3 completed

             Adj Close                              Close             \
                  AAPL       GOOG        MSFT        AAPL       GOOG
Date
2020-01-02   73.152657  68.368500  154.779541   75.087502  68.368500
2020-01-03   72.441467  68.032997  152.852234   74.357498  68.032997
2020-01-06   73.018677  69.710503  153.247360   74.949997  69.710503
2020-01-07   72.675270  69.667000  151.850052   74.597504  69.667000
2020-01-08   73.844345  70.216003  154.268814   75.797501  70.216003
...                ...        ...         ...         ...        ...
2020-12-24  129.679718  86.942497  216.924301  131.970001  86.942497
2020-12-28  134.317825  88.804497  219.076477  136.690002  88.804497
2020-12-29  132.529388  87.935997  218.287643  134.869995  87.935997
2020-12-30  131.399368  86.975998  215.882233  133.720001  86.975998
2020-12-31  130.387238  87.594002  216.602905  132.690002  87.594002

                              High                                Low  \
                  MSFT        AAPL       GOOG        MSFT        AAPL
Date
2020-01-02  160.619995   75.150002  68.406998  160.729996   73.797501
2020-01-03  158.619995   75.144997  68.625000  159.949997   74.125000
2020-01-06  159.029999   74.989998  69.824997  159.100006   73.187500
2020-01-07  157.580002   75.224998  70.149498  159.669998   74.370003
2020-01-08  160.089996   76.110001  70.579002  160.800003   74.290001
...                ...         ...        ...         ...         ...
2020-12-24  222.750000  133.460007  87.300003  223.610001  131.100006
2020-12-28  224.960007  137.339996  89.536400  226.029999  133.509995
2020-12-29  224.149994  138.789993  89.622002  227.179993  134.339996
2020-12-30  221.679993  135.990005  88.254753  225.630005  133.399994
2020-12-31  222.419998  134.740005  87.946503  223.000000  131.720001

                                         Open                         \
                 GOOG        MSFT        AAPL       GOOG        MSFT
Date
2020-01-02  67.077499  158.330002   74.059998  67.077499  158.779999
2020-01-03  67.277199  158.059998   74.287498  67.392998  158.320007
2020-01-06  67.500000  156.509995   73.447502  67.500000  157.080002
2020-01-07  69.518997  157.320007   74.959999  69.897003  159.320007
2020-01-08  69.542000  157.949997   74.290001  69.603996  158.929993
...               ...         ...         ...        ...         ...
2020-12-24  86.455498  221.199997  131.320007  86.750000  221.419998
2020-12-28  87.316750  223.020004  133.990005  87.581749  224.449997
2020-12-29  87.804497  223.580002  138.050003  89.389503  226.309998
2020-12-30  86.279999  221.470001  135.580002  88.100502  225.229996
2020-12-31  86.771004  219.679993  134.080002  86.771004  221.699997

               Volume
                 AAPL      GOOG      MSFT
Date
2020-01-02  135480400  28132000  22622100
2020-01-03  146322800  23728000  21116200
2020-01-06  118387200  34646000  20813700
2020-01-07  108872000  30054000  21634100
2020-01-08  132079200  30560000  27746500
...               ...       ...       ...
2020-12-24   54930100   6936000  10550600
2020-12-28  124486200  27860000  17933500
2020-12-29  121047300  25988000  17403200
2020-12-30   96452100  26122000  20272300
2020-12-31   99116600  20238000  20942100

[253 rows x 18 columns]

### Fetching Real-Time Data
For real-time data, you can use the interval parameter with the history method. For example, fetching minute-level data for the past 5 days:

In [20]:
real_time_data = apple.history(period="5d", interval="1m")
real_time_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-12-22 09:30:00-05:00,195.179993,195.410004,195.054993,195.389999,1303572,0.0,0.0
2023-12-22 09:31:00-05:00,195.380005,195.399994,195.057007,195.080002,180031,0.0,0.0
2023-12-22 09:32:00-05:00,195.080002,195.139999,194.990005,195.050003,170886,0.0,0.0
2023-12-22 09:33:00-05:00,195.050003,195.110001,194.880005,194.910004,159125,0.0,0.0
2023-12-22 09:34:00-05:00,194.919998,194.945007,194.710007,194.720001,153678,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-29 15:55:00-05:00,192.350006,192.460007,192.160004,192.315002,456133,0.0,0.0
2023-12-29 15:56:00-05:00,192.320007,192.550003,192.250000,192.544998,290777,0.0,0.0
2023-12-29 15:57:00-05:00,192.535004,192.570007,192.440002,192.490005,314258,0.0,0.0
2023-12-29 15:58:00-05:00,192.485001,192.570007,192.479996,192.520004,466848,0.0,0.0
2023-12-29 15:59:00-05:00,192.520004,192.899994,192.479996,192.520004,2202006,0.0,0.0

**Note:**
* Real-time data might be delayed by up to 15 minutes due to Yahoo Finance’s limitations.

---
## Conclusion
yfinance is a powerful tool that provides easy access to a wealth of financial data. By integrating yfinance into your analysis, you gain the ability to make more informed decisions based on historical and real-time market data. Happy data hunting.